body {
    background-color: #ffffff;
    color: #ffffff;
}

table thead {
    background-color: #ac0a0qa darkmagenta;
    color: rgb(0, 255, 144);
}

.boton_personalizado {
    text-decoration: none;
    padding: 5px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 20px;
    border: 2px solid #808080;
}

.boton_personalizado:hover {
    color: #18803b;
    background-color: #ffffff;
}

footer {
    position: fixed;
    width: 1500px;
    bottom: 35px;
    height: 2px;
    padding-bottom: 16px;
    border-top: 2px solid rgb(0, 255, 144);
    z-index: 2000;
    margin-left: 0px;
}

.auto-style1 {
    width: 886px;
}

.auto-style2 {
    width: 100%;
    left: -1px;
    bottom: 23px;
}

